/* import das fontes 
Lobster*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*playfair display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');




body {
    font-family: 'Arial', sans-serif;
    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
    overflow-x: hidden;
    
}

#musica-do-dia {
    font-family: 'Lobster', cursive;
}

#container-titulo-portfolio {
    background-color: #ffe3d6; /* Branco */
    border-radius: 10px;
    padding: 20px 5px 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Lobster', cursive;
    position: relative;
    top: -32.5%;
    z-index: 2;
}

h1 {
    color: #92c9b1; /* Azul SteelBlue */
}

p {
    color: #333;
    font-size: 16px;
}

#listradinho-azul {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
}

#quadradinho-azul {
    width: 100%;
    height: 100%;
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: var(--color1);
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), linear-gradient(45deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

#mySidebar {
    left: 0px;
}

#nome-natalia {
    font-family: 'Lobster', cursive;
    color: #92c9b1;
}

#botao-redondinho {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-radius: 10px;
    font-family: 'Playfair Display';
}

/*Player de música!*/
.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 80px;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}

.player-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.song-info {
    margin-bottom: 4px;
}

.song-title {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.artist {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #ffb999;
    animation: progress-animation 60s linear infinite;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.play-btn,
.pause-btn,
.skip-btn,
.volume-btn {
    font-size: 16px;
    color: #666;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
}

    .play-btn:hover,
    .pause-btn:hover,
    .skip-btn:hover,
    .volume-btn:hover {
        transform: scale(1.2);
    }

.volume-slider {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin-left: 10px;
}

.volume-slider-bar {
    height: 100%;
    background-color: #666;
}

.volume-slider-handle {
    width: 16px;
    height: 16px;
    background-color: #666;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
}

@keyframes progress-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

button-pink {
    position:relative;
    left: 25%;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #92c9b1;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
   }
   
   button-pink:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button-pink:hover:not(:disabled) {
    background: #ffb999;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
   }
   
   button-pink:disabled {
    cursor: auto;
    color: grey;
   }
  
   button-estrelinha {
    position: relative;
    padding: 12px 35px;
    background: white;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 0 0 #ffb999;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffb999);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffb999);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #92c9b1);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #92c9b1);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #92c9b1);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button-estrelinha:hover {
    background: #c7b8b1;
    color: white;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button-estrelinha:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }

  button-estrelinha-selected {
    position: relative;
    padding: 12px 35px;
    background: black;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 0 0 #ffb999;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  button-estrelinha-selected:hover {
    background: #c7b8b1;
    color: white;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button-estrelinha-selected:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha-selected:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha-selected:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha-selected:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha-selected:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button-estrelinha-selected:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #grid {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px; /* Adjust this value as needed */
  }

  #grid-landing {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px; /* Adjust this value as needed */
  }